.formHorizontal {
    position: absolute;
    top: 50%;

    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.formVertical {
    max-width: 250px;
    width: calc(100vw - 5px);
    margin: auto;
}

form {
    margin: 1em 0px;
}

form input {
    border: 1px solid gray;
    border-radius: 0.5em;
    padding: 0.5em;
    width: calc(100% - 1em);

    margin-top: 1em;
}

form input[type="submit"] {
    width: 100%;
}

form input:focus {
    outline: none;
}

input[error="true"] {
    border-color: red;
}

span.error {
    display: inline-block;
    color: red;
    padding: 0.5em 1em;
    border: 1px solid red;
    border-radius: 0.5em;

    max-width: calc(250px - 2em);
    width: calc(100vw - 2em - 5px);

    position: absolute;

    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}