header {
    width: 100%;

    background-color: #3e56c2;
    color: white;

    display: flex;
    justify-content: space-between;
}

header span {
    padding: 1em;
}

header > * {
    height: 100%;
}

header span {
    display: inline-block;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    height: 100%;
    padding: 1em;
}

header a:hover {
    background-color: #8080801c;
}